/*
* @Author: lenovo
* @Date:   2016-04-15 12:42:34
* @Last Modified by:   lenovo
* @Last Modified time: 2016-04-20 21:28:09
*/


/* ================头部样式开始================== */

html {
    overflow-x: hidden;
}

header {
    box-sizing: border-box;
    min-height: 70px;
    margin: 0 auto;
    padding: 10px 0;
    /*     background: #000; */
}

header .wrap {
    position: relative;
    overflow: hidden;
    width: 1000px;
    height: 50px;
    margin: 7px auto 0 auto;
}


/* logo样式 */

header .logo {
    float: left;
    width: 113px;
}


/* 搜索框样式 */

header .search {
    position: relative;
    float: left;
    width: 383px;
    margin: 2px auto 0 180px;
}

header .search .search-text {
    font-size: 12px;
    line-height: 18px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 338px;
    height: 36px;
    padding: 9px 150px 9px 15px;
    text-align: left;
    color: #333;
    border: 1px solid #ccc;
    border-right: 0;
    outline: none;
    background: #fff;
}

header .search .search-btn {
    float: left;
    width: 40px;
    height: 36px;
    border: 1px solid #ccc;
    outline: none;
    background: url(../img/topsearch-icon.png) center center no-repeat #fff;
}

header .search .search-btn2 {
    border: 1px solid #30a01a;
    background: url(../img/topsearch-icon1.png) center center no-repeat #30a01a;
}

header .search .search-btn:hover {
    border: 1px solid #30a01a;
    background: url(../img/topsearch-icon1.png) center center no-repeat #30a01a;
}


/* 热搜词样式 */

.hot-words {
    position: absolute;
    top: 5px;
    right: 60px;
}

.hot-words a {
    font-size: 12px;
    display: inline-block;
    margin-left: 5px;
    padding: 0 3px;
    color: #333;
    background: #f3f3f3;
}

.hot-words a:hover {
    background: #bfbcbc;
}


/* 登录 */

header .login {
    font-size: 12px;
    line-height: 50px;
    display: inline-block;
    float: right;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: right;
    color: #333;
}

header .login span {
    display: inline-block;
    width: 15px;
    height: 13px;
    margin-right: 5px;
    cursor: pointer;
    vertical-align: middle;
    background: url(../img/massage-icon.gif) left center no-repeat;
    background-size: 15px 13px;
}

header .login a {
    margin: 0 10px;
    color: #333;
}


/* ==============头部样式结束===================== */


/* 加载条样式    */

#loading {
    overflow: hidden;
    width: 100%;
    height: 2px;
    margin-top: -2px;
    background: #35b558;
    background: -webkit-gradient(linear, 10% 10%, 100% 100%, color-stop(.14, #35b550), color-stop(.5, #8aca8c), color-stop(1, #2d85ca));
}


/* 固定导航栏样式 */

#navpositon {
    width: 100%;
    height: 42px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e8e8e8;
    background: rgba(255, 255, 255, .9);
    -webkit-box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
    -moz-box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
}

#navpositon .nav-wrap {
    position: relative;
    width: 1000px;
    height: 42px;
    margin: 0 auto;
}

#navpositon .nav-wrap .nav-left {
    display: inline-block;
    width: 740px;
}

#navpositon .nav-wrap .nav-left a {
    font-size: 14px;
    line-height: 42px;
    display: inline-block;
    width: 116px;
    padding: 0;
    text-align: center;
    color: #333;
}

#navpositon .nav-wrap .nav-left a:first-child {
    width: auto;
    margin-right: 22px;
    padding: 0;
}

#navpositon .nav-wrap .nav-right {
    position: absolute;
    top: 10px;
    right: 0;
    display: inline-block;
}

#navpositon .nav-wrap .nav-right a {
    font-size: 12px;
    display: inline-block;
    margin-left: 20px;
    padding: 0;
    color: #333;
}

#navpositon .nav-wrap .nav-right a:hover {
    color: #13c525;
}

#navpositon .nav-wrap .nav-right .vip {
    display: inline-block;
    width: 21px;
    height: 14px;
    vertical-align: middle;
    background: url(../img/vip-icon.png);
}

#navpositon .nav-wrap .nav-right .course {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background: url(../img/star-icon.png);
}

#navpositon .nav-wrap .nav-right .download {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background: url(../img/dl-icon.png);
}

#navpositon .nav-wrap .nav-right .new {
    display: inline-block;
    width: 15px;
    height: 14px;
    margin-top: -10px;
    vertical-align: top;
    background: url(../img/newicon.png);
    background-size: 100% 100%;
}


/* =================article样式开始====================== */

article .maincontainer {
    width: 1000px;
    margin: 0 auto;
}

article .maincontainer:after {
    display: block;
    visibility: hidden;
    clear: both;
    overflow: hidden;
    height: 0;
    content: '';
}


/* 主体左边导航栏 */

article .maincontainer .lesson-nav {
    position: relative;
    float: left;
    width: 210px;
    height: 373px;
    border-top: 2px solid #35b558;
    border-right: 0;
}

.lesson-nav ul {
    position: absolute;
    z-index: 800;
    width: 210px;
    height: 371px;
    border: 1px solid #e4e4e4;
    border-top: 0;
    background: #fff;
}

.lesson-nav li > div {
    font-size: 13px;
    font-weight: 400;
    line-height: 37px;
    z-index: 1000;
    box-sizing: border-box;
    width: 208px;
    height: 37px;
    padding: 0 15px;
    cursor: pointer;
    color: #333;
    border-bottom: 1px solid #f5f5f5;
    background: #fff url(../img/more-icon.png) 186px center no-repeat;
    background-size: 6px 10px;
}

.leftborder-green {
    border-top: 1px solid #ede9e9;
    border-right: 0;
    border-bottom: 1px solid #ede9e9 !important;
    border-left: 2px solid #2ab40f !important;
    background: #fff !important;
}

.rightborder-gray {
    border-right: 1px solid #ede9e9;
}

.lesson-nav li > div > a {
    color: #333;
}


/* 主体中间重点关注 */

article .maincontainer .lesson-focus {
    float: left;
    overflow: hidden;
    width: 558px;
    height: 373px;
    margin-left: 10px;
}

.lesson-focus .index-banner {
    box-sizing: border-box;
    width: 558;
    height: 260px;
    margin-left: auto;
    border-right: 0;
    background: #ccc;
}


/* 底部轮banner样式 */

.lesson-focus .focus-wrapper {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    width: 558px;
    height: 100px;
    margin-top: 13px;
    margin-left: auto;
    border: 1px solid #e2e2e2;
}

.focus-wrapper .focus-left {
    position: absolute;
    z-index: 800;
    top: 30px;
    left: 0;
    display: inline-block;
    display: none;
    width: 24px;
    height: 40px;
    cursor: pointer;
    background: url(../img/focus-nav.png) 0 0 no-repeat;
    background-size: 48px 80px;
}

.focus-wrapper .focus-left:hover {
    background: url(../img/focus-nav.png) 0 -40px no-repeat;
    background-size: 48px 80px;
}

.focus-wrapper .focus-right {
    position: absolute;
    z-index: 800;
    top: 30px;
    right: 0;
    display: inline-block;
    display: none;
    width: 24px;
    height: 40px;
    cursor: pointer;
    background: url(../img/focus-nav.png) -24px 0 no-repeat;
    background-size: 48px 80px;
}

.focus-wrapper .focus-right:hover {
    background: url(../img/focus-nav.png) -24px -40px no-repeat;
    background-size: 48px 80px;
}

.focus-wrapper .focus-box {
    position: absolute;
    width: auto;
    height: 100px;
}

.focus-wrapper .focus-box li {
    float: left;
    width: 186.5px;
    height: 100px;
}

.focus-wrapper .focus-box li > a {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    border-right: 1px solid #f5f5f5;
}

.focus-wrapper .focus-box li > a > img {
    display: block;
    width: 40px;
    height: 40px;
    margin: 8px auto;
}

.focus-wrapper .focus-box li > a .focus-title {
    font-size: 12px;
    text-align: center;
    color: #333;
}

.focus-wrapper .focus-box li > a .intro {
    font-size: 12px;
    margin-top: -5px;
    text-align: center;
    color: #666;
}


/* 主体右边课程展示样式 */

article .maincontainer .lesson-show {
    float: left;
    overflow: hidden;
    width: 210px;
    height: 373px;
    margin-left: 10px;
    border: 1px solid #e4e4e4;
}

.recommend {
    margin-top: 20px;
    border-top: 1px solid #e4e4e4;
}

.lesson-show .news {
    height: 125px;
    padding: 0 13px;
    border-bottom: 1px solid #e4e4e4;
}

.lesson-show .news h3 {
    font-size: 14px;
    margin-top: 10px;
    color: #333;
}

.lesson-show .list {
    margin-top: 5px;
}

.lesson-show .list a {
    font-size: 12px;
    line-height: 1.8;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #666;
}

.lesson-show .list a:hover {
    color: #35b558;
}

.lesson-show .user-info {
    overflow: hidden;
    height: 86px;
    border-bottom: 1px solid #e4e4e4;
}

.lesson-show .userinfo .head-box {
    float: left;
    width: 64px;
    margin-top: 10px;
}

.recommend .move-list {
    position: absolute;
    display: none;
    width: 210px;
    margin-top: -160px;
    background: #fff;
}

.recommend .move-list .type-list {
    position: relative;
}

.recommend .move-list .type-list li {
    font-size: 12px;
    line-height: 24px;
    float: left;
    width: 52px;
    height: 24px;
    cursor: pointer;
    text-align: center;
    border-right: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    background: #fcfcfc;
}

.recommend .move-list .content {
    position: relative;
    height: 125px;
}

.recommend .move-list .content a {
    line-height: 20px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #666;
}

.content .question-tab-content,
.wiki-tab-content,
.class-tab-content,
.group-tab-content {
    position: absolute;
    display: none;
    float: left;
    width: 210px;
    height: 125px;
}

.head-box img {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.lesson-show .user-info .name-wrap {
    float: left;
    width: 140px;
}

.lesson-show .user-info .name-wrap .hello-world {
    margin-top: 10px;
}

.hello-world span {
    font-size: 12px;
    color: #666;
}

.lesson-show .user-info .name-wrap .operate {
    margin-top: 7px;
}

.operate a {
    font-size: 12px;
    line-height: 20px;
    display: block;
    float: left;
    width: 48px;
    height: 20px;
    text-align: center;
    color: #fff;
}

.operate .login-btn {
    margin-right: 10px;
    background: #fb5d20;
}

.operate .register-btn {
    background: #35b558;
}

.lesson-show .recommend {
    box-sizing: border-box;
}

.recommend .start-list li {
    font-size: 12px;
    line-height: 23px;
    display: block;
    float: left;
    width: 52px;
    height: 76px;
    text-align: center;
    color: #000;
    border-right: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
}

.recommend .start-list li .icon {
    display: block;
    width: 25px;
    height: 25px;
    margin: 13px auto 0;
    background-image: url(../img/recommend.png);
    background-size: 71px 232px;
}

.recommend.start-list li .question {
    background-position: -5px -3px;
}

.recommend .start-list li .wiki {
    background-position: -5px -31px;
}

.recommend .start-list li .lesson {
    background-position: -5px -59px;
}

.recommend .start-list li .group {
    background-position: -5px -87px;
}

.recommend .start-list li .download {
    background-position: -5px -117px;
}

.recommend .start-list li .known {
    background-position: -5px -144px;
}

.recommend .start-list li .occupation {
    background-position: -5px -173px;
}

.recommend .start-list li .vip {
    background-position: -5px -202px;
}

.recommend .start-list li .angle-bottom {
    display: block;
    box-sizing: content-box;
    width: 0;
    height: 0;
    margin: 0 auto;
    border-top: 6px solid #e4e4e4;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent;
}

.recommend .start-list li a {
    display: block;
    overflow: hidden;
    width: 52px;
    height: 76px;
    color: #000;
}


/* 公开课部分样式 */

article .open-class {
    font-size: 12px;
    width: 1000px;
    margin-top: 30px;
    padding-bottom: 15px;
}

article .open-class .open-header {
    margin-bottom: 16px;
}

article .open-class .open-header strong {
    font-size: 18px;
    font-weight: 500;
    float: left;
    color: #333;
}

article .open-class .open-header strong a {
    color: #35b558;
}

article .open-class .open-header i {
    font-size: 12px;
    line-height: 13px;
    display: block;
    float: left;
    width: 13px;
    height: 13px;
    margin: 9px 8px 0;
    cursor: pointer;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background: #999;
}

article .open-class .open-header .more-class {
    font-size: 12px;
    float: right;
    margin-top: 4px;
    color: #2d85ca;
}

.open-class .class-box {
    position: relative;
    height: 200px;
}

.open-class .class-box .swiper-container {
    width: 1020px;
    height: 200px;
    margin-left: -10px;
}

.class-box .swiper-container ul {
    position: relative;
    width: 100%;
    -webkit-transition-timing-function: ease;
    -webkit-transition-duration: 0s;
    -webkit-transition-property: -webkit-transform, left, top;
    -webkit-transform: translate3d(0px, 0, 0);
}

.class-box ul li {
    float: left;
    width: 255px;
    height: 200px;
}

.open-class .details {
    position: relative;
    z-index: 1;
    width: 233px;
    height: 200px!important;
    margin: 0 auto;
    cursor: pointer;
    -webkit-transition: border-color .3s ease-in;
    -moz-transition: border-color .3s ease-in;
    -o-transition: border-color .3s ease-in;
    transition: border-color .3s ease-in;
    border: 1px solid #e4e4e4;
}

.open-class .bgimg {
    position: absolute;
    z-index: 1;
    width: 233px;
    height: 198px;
}

.open-class .intro {
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 234px;
    height: 43px;
    padding-top: 10px;
    -webkit-transition: opacity .3s ease-in;
    -moz-transition: opacity .3s ease-in;
    -o-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in;
    opacity: 1;
    color: #fff;
    background: url(../img/openclass_shadow.png) no-repeat;
}

.open-class .intro p {
    font-size: 14px;
    overflow: hidden;
    width: 233px;
    height: 20px;
    padding: 0 10px;
    text-align: center;
}

.open-class .intro .date {
    font-size: 12px;
}

.open-class .desc {
    font-size: 12px;
    position: absolute;
    z-index: 3;
    display: none;
    box-sizing: border-box;
    width: 233px;
    height: 200px;
    margin-top: -198px;
    padding: 20px;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
    text-align: left;
    color: #333;
    background: rgba(255, 255, 255, .8);
}

.open-class .desc .a-line {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.open-class .desc .multi-line {
    overflow: hidden;
    height: 54px;
}

.border-green {
    border: 1px solid #36962b !important;
}

.open-class .desc a {
    font-size: 16px;
    line-height: 35px;
    display: block;
    width: 150px;
    height: 35px;
    margin: 20px auto 0;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    background-color: #35b558;
}

article #recommend-name {
    margin-top: 20px;
}

article #recommend-name ul {
    height: 46px;
    background: url(../img/hotnav_bc.jpg) 0 100% repeat-x;
}

article #recommend-name ul li {
    font-size: 14px;
    float: left;
    width: 16.6%;
    padding: 10px 0;
    cursor: pointer;
    text-align: center;
    color: #666;
}

article #recommend-name .on {
    color: #35b558;
    border-bottom: 2px solid #35b558;
    background: url(../img/index-sj.png) center bottom no-repeat;
    background-size: 10px 4px;
}


/* 热门推荐box样式 */

article .hotlesson-box {
    display: none;
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
}

article .newlesson-box {
    display: none;
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
}

article .freelesson-box {
    display: none;
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
}

article .item-box {
    display: none;
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
}

article .topclass-box {
    display: none;
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
}

article .operateco-box {
    display: none;
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
}

article .one-classify-lesson ul {
    width: 1100px;
    margin-top: 0;
}

.one-classify-lesson ul li {
    position: relative;
    float: left;
    width: 235px;
    height: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
    background: 0 0;
}

.one-classify-lesson .lesson-box {
    width: 235px;
    border: 1px solid #e4e4e4;
    border-bottom: 0;
}

.one-classify-lesson .lesson-box .free-icon {
    position: absolute;
    z-index: 101;
    top: -2px;
    right: 8px;
    display: inline-block;
    width: 38px;
    height: 22px;
    background: url(../img/icon.png) -58px -43px no-repeat;
}

.one-classify-lesson .lesson-info {
    position: relative;
    z-index: 300;
    box-sizing: border-box;
    width: 237px;
    height: 88px;
    padding: 10px;
    border: 1px solid #e4e4e4;
    border-top: 0;
    background: #fff!important;
}

.one-classify-lesson .lesson-info .lesson-info-h2 {
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
    height: 36px;
    margin-bottom: 12px;
    color: #333;
}

.one-classify-lesson .lesson-info h2 a {
    color: #333;
}

.one-classify-lesson .lesson-info p {
    font-size: 12px;
    line-height: 18px;
    display: none;
    overflow: hidden;
    box-sizing: border-box;
    height: 38px;
    margin-bottom: 10px;
    color: gray;
}

.lesson-info .timeandicon {
    font-size: 12px;
    position: relative;
    color: gray;
}

.lesson-info .timeandicon dl {
    float: left;
    width: 120px;
    white-space: nowrap;
}

.lesson-info .timeandicon em {
    font-style: normal;
}

.lesson-info .timeandicon .middle,
.learn-number {
    display: none;
}

.lessonplay {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 128px;
    background: rgba(0, 0, 0, .4);
}

.lessonplay .playericon {
    position: absolute;
    z-index: 800;
    top: 50%;
    left: 50%;
    display: block;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
    cursor: pointer;
    background: url(../img/player_icon.png) 0 0 no-repeat;
    background-size: 50px 50px;
}

.lesson-info .timeandicon dl dd {
    font-size: 12px;
}

.lesson-info .timeandicon dl dd i {
    display: block;
    float: left;
    width: 14px;
    height: 14px;
    margin-right: 8px;
    background: url(../img/clok.png) 0 0 no-repeat;
    background-size: 14px 14px;
}

.lesson-info .timeandicon .lessonicon-box {
    position: absolute;
    right: 0;
    bottom: 4px;
    text-align: right;
}

.lesson-info .timeandicon .lessonicon-box a {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 3px;
}

.lesson-info .timeandicon .lessonicon-box a img {
    display: block;
    width: 16px;
    height: 16px;
    margin-top: 5px;
}


/* 职业路径样式 */

#projectpath .learnbox {
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
}

#projectpath .learnbox .index-public-title {
    margin-bottom: 16px;
}

.index-public-title strong {
    font-size: 18px;
    font-weight: 500;
    float: left;
    color: #333;
}

.index-public-title strong a {
    color: #333;
}

.index-public-title .way {
    font-size: 12px;
    line-height: 13px;
    display: block;
    float: left;
    width: 13px;
    height: 13px;
    margin: 8px 8px 0;
    cursor: pointer;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    background: #999;
}

.index-public-title .more-lesson {
    font-size: 12px;
    float: right;
    margin-top: 4px;
    color: #2d85ca;
}

.learn-card a {
    display: block;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    width: 20%;
    height: 300px;
    margin-top: 0;
    text-align: center;
    border: 1px solid rgb(228, 228, 228);
    border-right: 0;
    border-right: 1px transparent;
}

.learn-card .projectpath-right {
    border-right: 1px solid rgb(228, 228, 228);
}

.learn-card .projectpath-bottom {
    border-top: 1px solid transparent;
}

.learn-card img {
    margin-bottom: 24px;
    vertical-align: middle;
}

.learn-card a h2 {
    font-size: 15px;
    font-weight: 400;
    display: block;
    overflow: hidden;
    width: 198px;
    margin-bottom: 20px;
    color: #333;
}

.learn-card a p {
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
    width: 199px;
    height: 20px;
    color: #666;
}

.learn-card a .greenbtn2,
.learn-card a #waiting-btn {
    line-height: 34px;
    width: 140px;
    height: 34px;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
    outline: 0;
}

.greenbtn2 {
    font-size: 16px;
    display: inline-block;
    -webkit-transition-duration: .8s;
    transition-duration: .8s;
    -webkit-transition-property: background;
    transition-property: background;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    color: #35b558;
    border: 1px solid #35b558;
    background: #f3fff6;
}

.greenbtn2-active {
    color: #fff;
    background: #35b558;
}

.waitingbtn-active {
    background: #ddd !important;
}

.learn-card a #waiting-btn {
    color: gray;
    border: 1px solid #e4e4e4;
    outline: 0;
    background: #f5f5f5;
}


/* 知识体系样式 */

#system {
    margin-top: 40px;
}

#system .learnbox {
    width: 1000px;
    margin: 0 auto;
}

.mapbox {
    overflow: hidden;
    box-sizing: border-box;
    height: 481px;
    width: 997px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

.card-transform .back,
.card-transform .front {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    /*     border-bottom: 1px solid #E4E4E4; */
    width: 167px;
    height: 120px;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    transition: .6s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-transform .back {
    padding-top: 30px;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    background-color: #f5f5f5;
}

.card-transform .back:hover{
    -webkit-transform: rotateY(-360deg);
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
}


.card-transform .back strong {
    font-size: 14px;
    font-weight: 400;
    display: block;
    margin-bottom: 10px;
    color: #666;
}

.card-transform .back .greenbtn {
    font-size: 16px;
    display: inline-block;
    width: 140px;
    height: 36px;
    cursor: pointer;
    -webkit-transition-duration: .8s;
    transition-duration: .8s;
    -webkit-transition-property: background;
    transition-property: background;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    text-align: center;
    color: #fff;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    border-radius: inherit;
    background: #35b558;
}

.card-transform .back .greenbtn:hover {
    background: #59d154;
}

.card-transform {
    position: relative;
    float: left;
    overflow: hidden;
    width: 165px;
    height: 120px;
    text-align: center;
    border: 1px solid #e4e4e4;
    border-right: 0;
    border-bottom: 0;
}

.card-transform a {
    overflow: hidden;
}

.card-transform .front {
    z-index: 2;
    /*     border-bottom: 1px solid #E4E4E4; */
    padding: 15px 0;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    background-color: #fff;
}

.card-transform .front-turn{
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card-transform .back-turn{
    -webkit-transform: rotateY(-360deg);
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
}
.card-transform .front h2 {
    font-size: 15px;
    margin-bottom: 5px;
    color: #333;
}

.card-transform .front span {
    font-size: 14px;
    display: block;
    margin-top: -10px;
    color: #35b558;
}


/* 精品课程样式 */

#exellent .exellent-way {
    margin-top: 40px;
}

#exellent .exellentbox {
    margin-top: 20px;
}

.lesson-card {
    font-size: 12px;
    position: relative;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 230px;
    height: 261px;
    padding: 16px;
    margin-right: 26px;
    -webkit-transition: border-color .3s;
    -moz-transition: border-color .3s;
    transition: border-color .3s;
    border: 1px solid #e4e4e4;
}

.lesson-card:last-child{
    margin-right: 0;
}

.lesson-card h2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    overflow: hidden;
    width: 80%;
    margin-bottom: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lesson-card .images {
    overflow: hidden;
    margin-bottom: 15px;
    z-index: -20;
}

.lesson-card .images img {
    display: block;
    width: 100%;
    height: 100%;
}

.lesson-card .other {
    line-height: 18px;
    position: relative;
    z-index: 20;
    color: gray;
    cursor: pointer;
}

.lesson-card .other .lesson-count {
    max-width: 40px;
}

.lesson-card .other span {
    display: inline-block;
    overflow: hidden;
    margin-right: 6px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lesson-card .other .learn-count {
    max-width: 90px;
}

.lesson-card .collect {
    float: right;
    width: 56px;
    height: 20px;
    margin-top: -24px;
    text-align: center;
}

.lesson-card .greenbtn {
    font-size: 12px;
    line-height: 18px;
    display: inline-block;
    width: 100%;
    height: 20px;
    padding: 0;
    cursor: pointer;
    -webkit-transition-duration: .8s;
    transition-duration: .8s;
    -webkit-transition-property: background;
    transition-property: background;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    color: #fff;
    border-radius: 3px;
    background: #35b558;
    z-index: 200;
}

.lesson-card .greenbtn:hover{
    background: #8CEA97;
}

.collect{
    cursor: pointer;
}
.collect .greenbtn{
    cursor: pointer;
       -webkit-transition-duration: .8s;
    transition-duration: .8s;
    -webkit-transition-property: background;
    transition-property: background;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    background: #35b558;
}

.collect .greenbtn:hover{
    background: #8CEA97 !important;
}
.lesson-card .describe{
    position: absolute;
    left: 0;
    z-index: 120;
    width: 100%;
    background: rgba(255,255,255,.9);
    top: 0;
    height: 77%;
    text-align: center;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    overflow: hidden;
    box-sizing: border-box;
    display: none;
}

.lesson-card .describe .text a:hover{
    color: #6EC04D;
}

.lesson-card .describe .name a:hover{
    color: #6EC04D;
}
.lesson-card .describe .picture{
    overflow: hidden;
    position: absolute;
    top: 20px;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.lesson-card .describe .picture a{
    color: #666;
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
}

.lesson-card .describe .name{
    width: 100%;
    height: 32px;
    text-align: center;
}
.lesson-card .describe .name a{
    color:#666;
    position: absolute;
    margin-top: 200px;
    bottom: 0;
    left: 70px;
    font-size: 14px;
}
}

.lesson-card .text .greenbtn{
    width: 100px;
    height: 30px;
}
.lesson-card .describe .picture img {
    width: 100%;
    height: 100%;
}

.lesson-card .describe .name {
    position: absolute;
    top: 74px;
    left: 0;
    width: 100%;
}

.lesson-card .describe .text {
    overflow: hidden;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 40px;
    padding: 0 16px;
    text-align: left;
    line-height: 20px;
    word-wrap: break-word;
    word-break: break-all;
}

.lesson-card .describe .text a{
    color: #666;
    width: 190px;
    height: 28px;
    line-height: 20px;
    left: 10px;
    padding:0;
}

.lesson-card .describe a{
    width: 90px;
    height: 32px;
    line-height: 32px;
    position: absolute;
    bottom: 10px;
    left: 70px;
}
/* wiki样式 */

#wiki {
    margin-top: 40px;
}

#wiki .wikibox {
    margin-top: 20px;
}

.wikibox .one-wiki {
    float: left;
    box-sizing: border-box;
    width: 333.3px;
    height: 370px;
    padding: 15px;
    border: 1px solid #e4e4e4;
    border-left: 1px solid transparent;
}

.one-wiki .wiki-img {
    box-sizing: border-box;
    margin-top: 10px;
}

.wikibox .one-wiki dl dd {
    float: left;
    box-sizing: border-box;
    width: 142px;
    margin-right: 15px;
    text-align: center;
}

.wikibox .one-wiki dl dd:last-child {
    float: right;
    margin-right: 0;
}

.wikibox .one-wiki dl dd .imgbox {
    position: relative;
    text-align: left;
    width: 142px;
    height: 200px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #999;
    -ms-border-radius: 5px;
    box-sizing: border-box;
}

.wikibox .one-wiki dl dd .imgbox img{
    width: 142px;
    height: 200px;
    border-radius: 5px;
}

.wikibox .one-wiki dl dd .imgbox .look{
    position: absolute;
    width: 40px;
    z-index: 10;
    right: -10px;
    top: -13px;
    background: url(../img/look.png) center center no-repeat;
    background-size: 100% 100%;
    height: 20px;
    display: none;
}
.wikibox .one-wiki dl dd h3 {
    font-size: 13px;
    line-height: 13px;
    display: block;
    overflow: hidden;
    height: 13px;
    margin: 10px auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
}


.wikibox .one-wiki dl dd span {
    font-size: 12px;
    display: block;
    color: #999;
}


.wikibox .one-wiki h2 {
    font-size: 14px;
    font-weight: 500;
}

.wikibox .one-wiki ul {
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
}

.wikibox .one-wiki ul li {
    font-size: 12px;
    line-height: 12px;
    display: block;
    box-sizing: border-box;
    margin-bottom: 8px;
    color: #999;
}

.wikibox .one-wiki ul li a {
    color: #999;
}

.wikibox .one-wiki ul li a:hover{
    color:#33B12E;
}
.wikibox .one-wiki ul li p {
    display: block;
    float: left;
    overflow: hidden;
    width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.wikibox .one-wili ul li p{
    color:#33B12E;
}
.wikibox .one-wiki ul li span {
    display: block;
    float: right;
    width: 90px;
    text-align: right;
}


/* 合作企业样式 */

#enterprise {
    margin-top: 40px;
}

#enterprise .enterprise-way {
    margin-bottom: 20px;
}

.strategy {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    width: 1000px;
    height: 90px;
    margin: 0 auto;
    margin-top: 16px;
    padding: 20px;
    border: 1px solid #e4e4e4;
}

.strategy .strategy-wrapper {
    overflow: hidden;
}

.strategy .strategy-box {
    width: auto;
    height: 50px;
}

.strategy .strategy-box li {
    float: left;
    width: 159.667px;
    text-align: center;
}

.strategy .strategy-box li img {
    width: 150px;
    height: 50px;
    border: 1px solid #e4e4e4;
}

.strategy .strategy-left {
    position: absolute;
    z-index: 800;
    top: 30px;
    left: 0;
    display: inline-block;
    display: none;
    width: 24px;
    height: 40px;
    cursor: pointer;
    background: url(../img/focus-nav.png) 0 0 no-repeat;
    background-size: 48px 80px;
}

.strategy .strategy-left:hover {
    background: url(../img/focus-nav.png) 0 -40px no-repeat;
    background-size: 48px 80px;
}

.strategy .strategy-right {
    position: absolute;
    z-index: 800;
    top: 30px;
    right: 0;
    display: inline-block;
    display: none;
    width: 24px;
    height: 40px;
    cursor: pointer;
    background: url(../img/focus-nav.png) -24px 0 no-repeat;
    background-size: 48px 80px;
}

.strategy .strategy-right:hover {
    background: url(../img/focus-nav.png) -24px -40px no-repeat;
    background-size: 48px 80px;
}

#school {
    margin-top: 40px;
}

#school .school-way {
    margin-bottom: 20px;
}

.schoolbox {
    position: relative;
    box-sizing: border-box;
    height: 150px;
    padding: 20px;
    border: 1px solid #e4e4e4;
}

.schoolbox .schoolbox-wrapper {
    overflow: hidden;
    height: 110px;
}

.schoolbox .schoolbox-wrapper .school-box {
    height: 110px;
}

.schoolbox .schoolbox-wrapper .school-box li {
    float: left;
    width: 136.857px;
    text-align: center;
}

.schoolbox .schoolbox-wrapper .school-box li img {
    width: 110px;
    height: 110px;
}

.schoolbox .school-left {
    position: absolute;
    z-index: 800;
    top: 50px;
    left: 0;
    display: inline-block;
    display: none;
    width: 24px;
    height: 40px;
    cursor: pointer;
    background: url(../img/focus-nav.png) 0 0 no-repeat;
    background-size: 48px 80px;
}

.schoolbox .school-left:hover {
    background: url(../img/focus-nav.png) 0 -40px no-repeat;
    background-size: 48px 80px;
}

.schoolbox .school-right {
    position: absolute;
    z-index: 800;
    top: 50px;
    right: 0;
    display: inline-block;
    display: none;
    width: 24px;
    height: 40px;
    cursor: pointer;
    background: url(../img/focus-nav.png) -24px 0 no-repeat;
    background-size: 48px 80px;
}

.schoolbox .school-right:hover {
    background: url(../img/focus-nav.png) -24px -40px no-repeat;
    background-size: 48px 80px;
}

#media {
    margin-top: 40px;
}

#media .media-way {
    margin-bottom: 20px;
}

.report {
    position: relative;
    box-sizing: border-box;
    width: 1000px;
    height: 90px;
    margin: 0 auto;
    margin-top: 16px;
    padding: 20px;
    border: 1px solid #e4e4e4;
}

.report .report-wrapper {
    overflow: hidden;
    height: 50px;
}

.report .report-box {
    width: auto;
    height: 50px;
}

.report .report-box li {
    float: left;
    width: 159.667px;
    height: 50px;
    text-align: center;
}

.report .report-box li img {
    box-sizing: border-box;
    width: 150px;
    height: 50px;
    border: 1px solid #e4e4e4;
}

.report .report-left {
    position: absolute;
    z-index: 800;
    top: 20px;
    left: 0;
    display: inline-block;
    display: none;
    width: 24px;
    height: 40px;
    cursor: pointer;
    background: url(../img/focus-nav.png) 0 0 no-repeat;
    background-size: 48px 80px;
}

.report .report-left:hover {
    background: url(../img/focus-nav.png) 0 -40px no-repeat;
    background-size: 48px 80px;
}

.report .report-right {
    position: absolute;
    z-index: 800;
    top: 20px;
    right: 0;
    display: inline-block;
    display: none;
    width: 24px;
    height: 40px;
    cursor: pointer;
    background: url(../img/focus-nav.png) -24px 0 no-repeat;
    background-size: 48px 80px;
}

.report .report-right:hover {
    background: url(../img/focus-nav.png) -24px -40px no-repeat;
    background-size: 48px 80px;
}


/* 清除浮动样式 */


/* 脚部样式 */

footer #jkinfo-block {
    box-sizing: border-box;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    background: #fafafa;
}

#jkinfo-block .jkinfo {
    width: 1000px;
    min-height: 200px;
    margin: 0 auto;
}

#jkinfo-block .jkinfo dl {
    float: left;
    width: 185px;
    min-height: 175px;
    margin: 25px 0;
    padding-left: 30px;
    color: gray;
    border-left: 1px solid #e4e4e4;
}

.jkinfo dl dt {
    font-size: 14px;
    font-weight: 500;
    color: #666;
}

.jkinfo dl dt a {
    padding-left: 5px;
    color: gray;
}

.jkinfo dl dt a:hover{
    color:#14AC3F;
}

.jkinfo dl dd {
    font-size: 12px;
    margin-top: 10px;
}

.jkinfo dl dd a {
    color: gray;
}

.jkinfo dl dd a:hover{
    color:#14AC3F;
}
footer .search-share {
    float: left;
    box-sizing: border-box;
    width: 260px;
    min-height: 226px;
    padding: 20px 0 0 40px;
    border-left: 1px solid #e4e4e4;
}

footer .search-share .jktxt {
    font-size: 15px;
    font-weight: 500;
    display: block;
    margin-bottom: 15px;
    color: #35b558;
}

footer .search-share .app-download img {
    display: block;
    float: left;
    margin-top: 10px;
    margin-right: 15px;
    vertical-align: middle;
}

footer .search-share .app-download strong {
    font-size: 18px;
    margin-bottom: 8px;
    color: #666;
}

footer .search-share .app-download p {
    font-size: 14px;
    color: gray;
    background: url(../img/more-icon.png) 160px center no-repeat;
    background-size: 7px 13px;
}

footer .search-share .share {
    margin-top: 8px;
}

footer .search-share .share a {
    position: relative;
    display: inline-block;
    float: left;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    background: url(../img/icon.png) -23px 0 no-repeat;
}

footer .search-share .share .tieba-icon {
    background-position: -145px 0;
}

footer .search-share .share .wechat-icon {
    background-position: -23px -82px;
}

footer .kefu-online {
    margin-top: 15px;
    padding-left: 35px;
}

footer .kefu-online-icon {
    float: left;
    width: 40px;
    height: 40px;
    margin-left: -40px;
    background: url(../img/kefu.png) no-repeat 0 0/80px 40px;
    background-position: 0 0;
}

footer .kefu-online h5 {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 2px;
    padding-left: 5px;
    color: #666;
}

footer .kefu-online p {
    font-size: 12px;
    padding-left: 5px;
    color: gray;
}

footer .footer-bottom {
    font-size: 12px;
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: #999;
}

.footer-bottom a {
    color: #999;
}

.cf:after {
    display: block;
    visibility: hidden;
    clear: both;
    overflow: hidden;
    height: 0;
    content: '';
}

.right-goto{
    position: fixed;
    bottom: 30px;
    right: 86px;
}
.right-goto .goto-top{
    width: 34px;
    height: 35px;
    border-top: 1px solid #e0e0e0;
    position: relative;
    background: #f7f7f7 url(../img/gotop.jpg) 0 0 no-repeat;
    background-size: 100% 300%;
    cursor: pointer;
    display: none;
}

.right-goto .goto-top:hover{
    background: #158E10 url(../img/gotop2.jpg) 0 0 no-repeat;
    background-size: 100% 300%;
}

.right-goto .phone{
    width: 34px;
    height: 35px;
    border-top: 1px solid #e0e0e0;
    position: relative;
    background: #f7f7f7 url(../img/phone.png) center center no-repeat;
    background-size: 40% 80%;
    cursor: pointer;
}

.appewm {
    background: url(../img/appewm.png) center center no-repeat;
    background-size: 100%;
    width: 126px;
    height: 159px;
    position: absolute;
    z-index: 2100;
    left: -126px;
    top: -70px;
    display: none;
}
.right-goto .wechat{
    width: 34px;
    height: 35px;
    border-top: 1px solid #e0e0e0;
    position: relative;
    background: #f7f7f7 url(../img/wechat.jpg) 50% 50% no-repeat;
    background-size: 80% 80%;
    cursor: pointer;
}

.right-goto .wechat a{
    display: block;
    width: 34px;
    height: 35px;
}

.right-goto .wechat a:active{
    border:none;
}

.right-goto .service{
    width: 34px;
    height: 35px;
    border-top: 1px solid #e0e0e0;
    position: relative;
    background: #f7f7f7 url(../img/service.png) center center no-repeat;
    z-index: 50000;
    cursor: pointer;
}

.right-goto .service .note{
    position: absolute;
    width: 200px;
    height: 50px;
    left: -210px;
    top: -5px;
    background:#EAE7E7;
    text-align: center;
    display: none;
}

.right-goto .service .note p{
    font-size: 12px;
    line-height: 20px;
    z-index: 1000;
}
/* nav-left导航栏面板样式 */

.nav-wrap .nav-left-panel {
    position: absolute;
    z-index: 1000;
    top: 42px;
    display: none;
    width: 100%;
    height: 140px;
    padding-left: 50px;
    border: 1px solid #e8e8e8;
    border-top: 0;
    background: rgba(255, 255, 255, .97);
    -webkit-box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
    -moz-box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 5px;
}

.nav-wrap .nav-left-panel .panel-item {
    position: relative;
    float: left;
    width: 120px;
    height: 100%;
    margin-left: -1px;
    padding-top: 10px;
    padding-bottom: 14px;
    padding-left: 15px;
    border-right: 1px solid #f7f7f7;
}

.nav-wrap .nav-left-panel .panel-item:first-child {
    border-left: 1px solid #f7f7f7;
}

.nav-wrap .nav-left-panel .panel-item .angle {
    position: absolute;
    top: -7px;
    left: 54px;
    display: none;
    width: 12px;
    height: 7px;
    background-image: url(../img/nav-angle.png);
    background-size: 100% 100%;
}

.nav-wrap .nav-left-panel .panel-item li a {
    font-size: 12px;
    line-height: 29px;
    display: block;
    margin-right: 0;
    text-align: left;
    color: #666;
}

.nav-wrap .nav-left-panel .panel-item li a:hover {
    color: #109e10;
}

.a-green {
    color: #1ca827 !important;
}

.bg-gray {
    background: #f7f4f4;
}


/* 课程导航栏样式 */

.lesson-nav .lesson-list-show {
    position: absolute;
    z-index: 100;
    top: -2px;
    left: 208px;
    display: none;
    overflow: hidden;
    min-width: 401px;
    min-height: 373px;
    padding-bottom: 30px;
    border: 1px solid #e4e4e4;
    border-left: 0;
    background: #fff;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, .1);
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, .1);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .1);
}

.lesson-nav .lesson-list-show dl {
    overflow: hidden;
    margin: 0 10px;
}

.lesson-nav .lesson-list-show dl dt {
    line-height: 45px;
    display: block;
    height: 37px;
    border-bottom: 1px solid #f5f5f5;
}

.lesson-nav .lesson-list-show dl dt a {
    font-size: 13px;
    font-weight: 400;
    color: #333;
}

.lesson-nav .lesson-list-show dl dt a:hover {
    color: #1e8b27;
}

.lesson-nav .lesson-list-show dl dd {
    margin-left: -8px;
    padding: 3px 0;
    list-style: none;
}

.lesson-nav .lesson-list-show dl dd a {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    display: inline-block;
    float: left;
    height: 14px;
    margin-top: 4px;
    margin-bottom: 10px;
    padding: 0 7px;
    white-space: nowrap;
    color: #666;
    border-left: 1px solid #e0e0e0;
}

.lesson-nav .lesson-list-show dl dd a:hover {
    color: #1e8b27;
}


/* 轮播Top上样式 */

.index-banner {
    position: relative;
}

.index-banner .banner-box {
    width: 3906px;
    height: 260px;
}

.index-banner .banner-box li {
    float: left;
    width: 558px;
    height: 260px;
}

.index-banner .banner-box img {
    width: 558px;
    height: 260px;
}

.index-banner .banner-arrow {
    position: absolute;
    display: none;
    width: 100%;
    height: 260px;
}

.index-banner .banner-arrow .banner-left {
    position: absolute;
    z-index: 1000px;
    top: 100px;
    left: 0;
    overflow: hidden;
    width: 40px;
    height: 50px;
    cursor: pointer;
    background: url(../img/banner-left.png) -10px -5px no-repeat;
}

.index-banner .banner-arrow .banner-left:hover {
    background: url(../img/banner-left.png) -10px -65px no-repeat;
}

.index-banner .banner-arrow .banner-right {
    position: absolute;
    z-index: 1000px;
    top: 100px;
    right: 0;
    overflow: hidden;
    width: 40px;
    height: 50px;
    cursor: pointer;
    background: url(../img/banner-right.png) -10px -5px no-repeat;
}

.index-banner .banner-arrow .banner-right:hover {
    background: url(../img/banner-right.png) -10px -65px no-repeat;
}

.index-banner .line-box {
    position: absolute;
    bottom: 17px;
    left: 164px;
    cursor: pointer;
}

.index-banner .line-box .line {
    z-index: 1000;
    float: left;
    width: 30px;
    height: 2px;
    margin-right: 15px;
    cursor: pointer;
    background: #fff;
}

.bg-green {
    background: #36c04f !important;
}

.index-banner .banner-box .img-add {
    float: left;
    width: 558px;
    height: 260px;
}

.active {
    display: block !important;
}
